/* === General === */
* {
  font-family: 'Oxygen', sans-serif;
}

:root {
  --dark-font-colour: #181a1f;
  --light-font-colour: #ececec;
  --overlay-blue: rgba(0, 56, 91, 0.85);
  --overlay-black: rgba(0, 0, 0, 0.5);
}

p,
.fa {
  font-size: 1rem;
}

h3 {
  font-size: 2rem;
  margin-top: 5rem;
}


body {
  overflow-x: hidden;
  margin: 0;

}

/* === Hero === */
div.weather-result-hero {
  background-color: #f5f5f5;
  color: var(--light-font-colour);
  min-height: 80vh;
}

div.weather-result-hero-overlay {
  background-color: var(--overlay-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
}

h1.weather-result-hero {
  font-size: 4rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

p.weather-result-hero-country,
p.weather-result-hero  {
  margin-top: 0;
}

.left-hero,
.middle-hero {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.middle-hero {
  margin-left: 0;
}

.left-hero * {
  padding: 0;
}

.middle-hero-temp {
  font-size: 5rem;
  margin-bottom: 0;
}

.middle-hero-weather::first-letter {
  text-transform: capitalize;
}

.middle-hero-weather {
  margin-bottom: 80px;
}

.right-hero {
  display: flex;
  flex-direction: column;
}

div.right-hero-sunrise {
  background-color: #f5f5f5;
  color: var(--dark-font-colour);
  border-radius: 100% 0 0 100%;
  padding: 1rem;
}

div.right-hero-sunset {
  border-radius: 100% 0 0 100%;
  padding: 1rem;
}

p.right-hero-sunset,
p.right-hero-sunrise {
  margin: 0.5rem;
}

.right-hero-sunrise,
.right-hero-sunset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

/* Images & classes */
.thunder-hero {
  background: url('img/storm.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rain-hero {
  background: url('img/rain.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.snow-hero {
  background: url('img/snow.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clear-hero {
  background: url('img/clearsky.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cloud-hero {
  background: url('img/clouds.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sun-cloud-hero {
  background: url('img/sun_and_cloud.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.default-hero {
  background-color: #e5e5e5;
}
/* === Hourly === */
h3 {
  margin-left: 5rem;
}

div.weather-result-hourly {
  display: flex;
  overflow-x: auto;
}

div.hourly-weather:first-child {
  margin-left: 50px;
}

div.hourly-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  justify-items: center;
}

div.hourly-weather {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 2rem;
  margin: 1rem;
  min-width: 20vw;
}

div.hourly-header {
  display: flex;
  justify-content: space-between;
  border-radius: 2rem 2rem 0 0;
  border-bottom: solid 1px #e6e6e6;
  margin: 0;
}

div.night {
  color: var(--light-font-colour);
  background-color: #181a1f;
}

div.night .hourly-header {
  border-bottom: solid 1px #000;
}

div.hourly-header p {
  margin-left: 2.5rem;
}

div.hourly-header img {
  margin-right: 2.5rem;
}

p.weather-current-description::first-letter,
p.hourly-temp-feels::first-letter {
  text-transform: capitalize;
}

p.weather-current-description {
  margin-top: 2rem;
}

p.hourly-temp-feels {
  margin-bottom: 2rem;
}

p.hourly-temp {
  font-size: 4rem;
  margin: 0;
}

div.hourly-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* === Daily === */
div.weather-result-daily {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.daily-weather {
  border-radius: 2rem;
  width: 45%;
  margin: 2rem;
}

div.daily-weather:nth-child(odd) {
  margin-left: 4%;
  margin-right: 1%;
}

div.daily-weather:nth-child(even) {
  margin-left: 1%;
  margin-right: 4%;
}

div.daily-div-overlay {
  background-color: var(--overlay-black);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}
 
p.daily-div-time,
p.daily-div-temp,
p.daily-div-minmax-temp,
p.daily-div-description,
p.daily-div-feels-like {
  color: var(--light-font-colour);
}

div.daily-div-sunset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p.daily-div-temp {
  font-size: 5rem;
  margin-bottom: 0;
  margin-left: 2rem;
}

p.daily-div-minmax-temp {
  margin-left: 2rem;
}

p.daily-div-description::first-letter {
  text-transform: capitalize;
}

p.daily-div-description {
  margin-bottom: 106px;
  margin-left: 2rem;
}

p.day-sunrise,
p.day-sunset {
  margin: 0.5rem;
}

p.daily-div-time {
  margin: 2rem;
}

/* Mobile styling */
div.mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.fa-mobile {
  font-size: 5rem;
}

p.mobile {
  font-size: 19px;
}