/* === General === */
* {
  font-family: 'Oxygen', sans-serif;
}

p,
.fa {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

/* === Hero === */
.weather-result-hero {
  background-color: #45385b;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-hero {
  display: flex;
  flex-direction: column;
}

.left-hero * {
  padding: 0;
}

.middle-hero {
  display: flex;
  flex-direction: column;
}

.right-hero {
  display: flex;
  flex-direction: column;
}

div.right-hero-sunrise {
  background-color: #f5f5f5;
  border-radius: 0 2rem 0 0;
  padding: 3rem;
}

div.right-hero-sunset {
  border-radius: 0 0 2rem 0;
  padding: 3rem;
}

p.right-hero-sunset,
p.right-hero-sunrise {
  margin: 0.5rem;
}

.right-hero-sunrise,
.right-hero-sunset {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}


/* === Hourly === */
div.weather-result-hourly {
  display: flex;
  overflow-x: auto;
}

div.hourly-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  justify-items: center;
}

div.hourly-weather {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 2rem;
  margin: 1rem;
  min-width: 20vw;
}

div.hourly-header {
  display: flex;
  justify-content: space-between;
  border-radius: 2rem 2rem 0 0;
  border-bottom: solid 1px #e6e6e6;
  margin: 0;
}

div.night {
  color: #9e9e9e;
  background-color: #181a1f;
}

div.night .hourly-header {
  border-bottom: solid 1px #000;
}

div.hourly-header p {
  margin-left: 2.5rem;
}

div.hourly-header img {
  margin-right: 2.5rem;
}

p.weather-current-description,
p.hourly-temp-feels {
  text-transform: capitalize;
}

p.weather-current-description {
  margin-top: 2rem;
}

p.hourly-temp-feels {
  margin-bottom: 2rem;
}

p.hourly-temp {
  font-size: 4rem;
  margin: 0;
}

div.hourly-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* === Daily === */
div.daily-weather {
  background-color: gray;
  border-radius: 2rem;
  padding: 3rem;
  margin: 1rem;
}
